* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s, color 0.3s;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --dark-color: white;
  --dark-background: black;
  --dark-button: grey;
  --div-color: #343434;
  --nav-color: #32174D;
}